.main{
	margin: 0 auto;
	width: 300px;
	padding: 10px;
	border: 1px solid #C5D4D9;
	border-bottom: none;
	border-radius: 5px;
}

.main h3{
	background: #084559;
	color: white;
	padding: 10px;
	text-align: center;
	margin: 5px 0px 10px 0;
	font-family: Trebuchet;
	font-size: 25px;
}

.newItem{
	padding: 0 10px;
}

.newItem input, button{
	padding: 10px;
}

ul{
	list-style-type: none;
}
ul li{
	margin-left: -30px;
	position: relative;
	background: #D0D9D9;
	padding: 5px;
	margin-bottom: 5px;
	font-size: 18px;
	padding-left: 10px;
}
ul li span{
	position: relative;
	float: right;
	cursor: pointer;
	right: 10px;
}